@model string

@{
    ViewBag.Title = "Index";
}

<h2>@Model</h2>

<a href="/Administration/Admin" class="btn btn-default">tlačítko</a>
@Html.ActionLink("My Button", "Index", "Admin", new { Area = "Administration" }, new {@class = "btn btn-default" } )


